.container {
    display: flex;
    gap: 2rem;
    max-width: 1000px;
    margin: 3rem auto;
    padding: 2rem;
  }
  
  .content {
    flex: 1;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  .project-card {
    margin-top: 3rem;
    padding: 1.5rem;
    border: 1px solid #ccc;
  }
  
  .project-card h2 {
    margin-top: 0;
  }
  
 
  
  aside {
    width: 250px;
    padding: 1.5rem;
    border: 1px solid #ccc;
  }
  