<main class="container">
  <section class="content">
    <h1>{{ app }}</h1>

    <p>
      Alumne: Luis Miguel Garcia per al modul DA2_0A01.
      L'aplicació és un editor d'imatges amb IA  enfocada sobretot en treure elements de la fotografia i omplir-ne el vuit que hi deixa sense que es noti.
    </p>

    <section  class="project-card">
      <h2>Dades del projecte</h2>
        <p>Projecte: IOC Angular Editor d'Imatges</p>
        <p>Framework: Angular</p>
        <p>Estils: SCSS</p>
        <p>Arquitectura: Standalone</p>
        <p>Projecte base llest</p>
    </section>
  </section>

  <aside class = "note">
    <p>Nota: Aquest projecte servirà com a base per desenvolupar la app editor d'imatges.</p>
  </aside>

</main>
<p>Canvi en calent</p>
<router-outlet />